@charset "UTF-8";

label {
    width: 100px;
}

.alert {
    display: none;

}

.password-alert{
    margin-left: 20px;
}


.requirements {
    list-style-type: none;
}

.wrong .fa-check {
    display: none;
}

.good .fa-times {
    display: none;
}
