<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- map Underscore To CamelCase -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<!-- Alias 설정 -->
	<typeAliases>
		<typeAlias alias="admin" type="com.kk.domain.AdminVO" />
		<typeAlias alias="cmt" type="com.kk.domain.CmtVO" />
		<typeAlias alias="contact" type="com.kk.domain.ContactVO" />
		<typeAlias alias="emailAuth" type="com.kk.domain.EmailAuthVO" />
		<typeAlias alias="member" type="com.kk.domain.MemberVO" />
		<typeAlias alias="bookmarkVO" type="com.kk.domain.BookmarkVO" />
	</typeAliases>


</configuration>

