<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	
	
	<!-- 관리자 초대 -->
	
	<!-- 호스트 인증처리 -->
 	<select id="getHostup" resultType="hashmap">
		SELECT 
			h.member_id as member_id, 
		 	h.write_date as write_date,
		 	h.result as result,
		 	m.name as name, 
		 	m.email as email, 
		 	m.tel as tel 
		 	
		FROM host_auth h, member m
		WHERE h.member_id = m.member_id
	</select>
		
	<!-- 휴먼 계정 -->
	
	<!-- 이용자 수 조회 -->
	
	<!-- 총 매출 조회 -->
	
	<!-- 매출 장부 조회 -->
	
	
</mapper>