<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	
	
	<!-- 관리자 초대 -->
	
	<!-- 호스트 인증 리스트 -->
 	<select id="getHostup" resultType="hashmap">
		SELECT 
			m.member_id as member_id, 
		 	h.write_date as write_date,
		 	h.result as result,
		 	m.name as name, 
		 	m.email as email, 
		 	m.tel as tel 
		 	
		FROM host h, member m
		WHERE h.host_id = m.member_id
	</select>
	
	<!-- 호스트 인증 확인 페이지 -->
	<select id="getAuth" parameterType="host" resultType="hashmap">
		SELECT 
			m.member_id as member_id, 
		 	m.name as name, 
		 	m.email as email,
		 	m.password as password, 
		 	m.tel as tel,
		 	m.join_date as join_date,
		 	m.last_conn_date as last_conn_date,
		 	m.auth as auth,
		 	h.host_pic as host_pic,
		 	h.company as company,
		 	h.uni as uni,
		 	h.auth_file as auth_file,
		 	h.host_value as host_value,
		 	h.write_date as write_date,
		 	h.content as content,
		 	h.result as result
		 	
		FROM host h, member m
		WHERE h.host_id = m.member_id
		AND h.host_id = #{hostId}
	</select>
		
	<!-- 휴먼 계정 -->
	
	<!-- 매칭 조회 -->
	<select id="getAllContact" resultType="hashmap">
		SELECT C.*, M1.*, M2.NAME AS HNAME, M2.Member_ID AS HID, M2.EMAIL AS HEMAIL, M2.TEL AS HTEL
		FROM CONTACT C, MEMBER M1, MEMBER M2
		WHERE c.guest_id = m1.member_id AND c.host_id = m2.member_id
		ORDER BY C.REGI_DATE DESC
	</select>
	
	<!-- 이용자 수 조회 -->
	
	<!-- 총 매출 조회 -->
	
	<!-- 매출 장부 조회 -->
	
	
</mapper>