<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookmark">

	<!-- 단순 조회  / 게스트 아이디로 찾기 (3번 입장에서는 4개가 나와야 함) /  자기가 선택한 사람 -->
	<select id="getBookmarkListByHostId" parameterType="bookmarkVO" resultType="member">
		SELECT *
		FROM MEMBER A,(SELECT GUEST_ID FROM MEMBER M, BOOKMARK B WHERE M.MEMBER_ID = B.HOST_ID AND M.MEMBER_ID = #{hostId}) B
		WHERE A.MEMBER_ID IN B.GUEST_ID
	</select>
	
	<!-- 단순 조회 / 호스트 아이디로 찾기 (3번  입장에서는 자신을 찍은 다른 한 사람이 나와야 함) / 자기를 선택한 사람 -->
	<select id="getBookmarkListByGuestId" parameterType="bookmarkVO" resultType="member">
		SELECT *   
		FROM MEMBER A, (SELECT HOST_ID FROM MEMBER M, BOOKMARK B WHERE M.MEMBER_ID = B.GUEST_ID AND M.MEMBER_ID = #{hostId} ) B   
		WHERE A.MEMBER_ID IN B.HOST_ID
	</select>
	
	<insert id="insertBookmark" parameterType="bookmarkVO">
		INSERT INTO bookmark(host_id, guest_id) VALUES (${hostId}, ${guestId})
	</insert>
 	
	<delete id="deleteBookmark" parameterType="bookmarkVO">
		DELETE FROM bookmark WHERE host_id = ${hostId} AND guest_id = ${guestId}
	</delete>
</mapper>