<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="contact">

	<!-- 컨택 관련 매퍼 -->

	<!-- 컨택 목록 -->
	 <select id="getContactList" resultType="hashmap" parameterType="java.util.HashMap">
		SELECT 
			contact_id, 
			host_id, 
			guest_id, 
			regi_date, 
			contact_intro, 
			store_name, 
			location, 
			meeting_time, 
			start_value, 
			last_value, 
			qr_check, 
			name, 
			company, 
			host_pic
		<![CDATA[
		FROM (SELECT /*+INDEX_DESC(boardTest pk_board) */	
		]]>
			rownum rn, 
			c.contact_id AS contact_id, 
			c.host_id AS host_id, 
			c.guest_id AS guest_id, 
			c.regi_date AS regi_date, 
			c.contact_intro AS contact_intro, 
			c.store_name AS store_name, 
			c.location AS location, 
			c.meeting_time AS meeting_time, 
			c.start_value AS start_value, 
			(SELECT 
				REGEXP_REPLACE(REVERSE(REGEXP_REPLACE( REVERSE(TO_CHAR(c.last_value)), '([0-9]{3})','\1,')), '^,','') 
				FROM DUAL) AS last_value, 
			c. qr_check AS qr_check, 
    		m.name AS name, 
    		h.company AS company, 
    		h.host_pic AS host_pic 
		FROM contact c, member m, host h
		<![CDATA[
		WHERE rownum <= #{pageNum} * #{amount}
		]]>
			AND c.host_id = m.member_id 
			AND h.host_id = c.host_id)
		<![CDATA[
		WHERE rn > (#{pageNum}-1) * #{amount}
		ORDER BY meeting_time DESC
		]]>
	 </select>
	 
	 <!-- 컨택 검색 -->
	 <select id="getSearchList" resultType="hashmap" parameterType="java.util.HashMap">
		SELECT 
			c.contact_id AS contact_id, 
			c.host_id AS host_id, 
			c.guest_id AS guest_id, 
			c.regi_date AS regi_date, 
			c.contact_intro AS contact_intro, 
			c.store_name AS store_name, 
			c.location AS location, 
			c.meeting_time AS meeting_time, 
			c.start_value AS start_value, 
			(SELECT 
				REGEXP_REPLACE(REVERSE(REGEXP_REPLACE( REVERSE(TO_CHAR(c.last_value)), '([0-9]{3})','\1,')), '^,','') 
				FROM DUAL) AS last_value, 
			c. qr_check AS qr_check, 
    		m.name AS name, 
    		h.company AS company, 
    		h.host_pic AS host_pic
		FROM contact c, member m, host h
		WHERE c.host_id = m.member_id 
			AND h.host_id = c.host_id 
            
            <if test="keyword != null">
            AND (c.contact_intro LIKE '%'||#{keyword}||'%'
            OR c.store_name LIKE '%'||#{keyword}||'%'
            OR m.name LIKE '%'||#{keyword}||'%'
            OR h.company LIKE '%'||#{keyword}||'%'
            OR c.location LIKE '%'||#{keyword}||'%')
            </if>
			<if test='region == "1"'>
				AND REGEXP_LIKE(c.location,'서울|경기|인천')
			</if>
			<if test='region == "2"'>
				AND c.location LIKE '%강원%'
			</if>
			<if test='region == "3"'>
				AND REGEXP_LIKE(c.location,'대전|세종|충북|충남')
			</if>
			<if test='region == "4"'>
				AND REGEXP_LIKE(c.location,'광주|전북|전남')
			</if>
			<if test='region == "5"'>
				AND REGEXP_LIKE(c.location,'부산|대구|울산|경북|경남')
			</if>
			<if test='region == "6"'>
				AND c.location LIKE '%제주%'
			</if>
			
			<if test="startdate != null and startdate != ''">
			<![CDATA[
				AND TO_DATE(c.meeting_time, 'YYYY-MM-DD HH24:MI') >= #{startdate}
			]]>
			</if>
			<if test="enddate != null and enddate != ''">
			<![CDATA[
				AND TO_DATE(c.meeting_time, 'YYYY-MM-DD HH24:MI') <= #{enddate}
			]]>
			</if>
		ORDER BY c.meeting_time DESC
	 </select>

	<!-- 페이징 -->
	<select id="getTotalCnt" resultType="int">
		SELECT count(*)
		FROM contact
	</select>

	<!-- 호스트가 생성한 컨택(로그인 세션 분류) -->
	<select id="getContactOne" parameterType="int" resultType="hashmap">
		SELECT 
			contact_id, 
			host_id, 
			guest_id, 
			regi_date, 
			contact_intro, 
			store_name, 
			location, 
			meeting_time, 
			start_value, 
			last_value, 
			qr_check, 
			name, 
			company, 
			host_pic
		FROM (SELECT 
			c.contact_id AS contact_id, 
			c.host_id AS host_id, 
			c.guest_id AS guest_id, 
			c.regi_date AS regi_date, 
			c.contact_intro AS contact_intro, 
			c.store_name AS store_name, 
			c.location AS location, 
			c.meeting_time AS meeting_time, 
			c.start_value AS start_value, 
			(SELECT 
				REGEXP_REPLACE(REVERSE(REGEXP_REPLACE( REVERSE(TO_CHAR(c.last_value)), '([0-9]{3})','\1,')), '^,','') 
				FROM DUAL) AS last_value, 
			c. qr_check AS qr_check, 
    		m.name AS name, 
    		h.company AS company, 
    		h.host_pic AS host_pic 
		FROM contact c, member m, host h

		WHERE  c.host_id = m.member_id 
			AND h.host_id = c.host_id
            ORDER BY regi_date DESC
            )

		<![CDATA[
		WHERE host_id = #{memberId}
            AND ROWNUM = 1
            AND TO_DATE(regi_date, 'YYYY-MM-DD HH24:MI:SS') + 24/24 > SYSDATE
        ]]>
	</select>

	<!-- 생성 -->
	<insert id="insertContact">
		INSERT INTO contact VALUES(
			seq_cid.nextval, 
			#{hostId}, 
			'', 
			TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS'), 
			#{contactIntro}, 
			#{storeName}, 
			#{location}, 
			#{meetingTime}, 
			#{startValue}, 
			0, 
			0
		)
	</insert>

	<!-- 최고입찰가 갱신 (게스트, 입찰가 변경) -->

	<!-- 마감 -->

	<!-- 마감 이후 결제처리(95%:호스트, 5%:관리자) -->

	<!-- 취소 -->


	<!-- host join table 
	<select id="" resultType="member">
		SELECT m.member_id, m.name, m.email, m.password, m.tel, m.auth, m.join_date, m.last_conn_date
		FROM member m, host h
		WHERE m.member_id = h.host_id;
	</select>
	-->
</mapper>