<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProfileDAO">

	<!-- 등록 -->
	<insert id="insertProfile" parameterType="host" useGeneratedKeys="true" keyProperty="no">
		INSERT INTO host(host_id, host_pic, company, uni, write_date, auth_file, content)
		VALUES(#{hostId}, #{hostPic}, #{company}, #{uni}, sysdate, #{authFile}, #{content})
	</insert>
 
 	<!-- 프로필 상세 조회 -->
	<select id="getProfile" resultType="host" parameterType="host">
		SELECT *
		FROM host
		WHERE host_id = #{hostId}
	</select>

	
</mapper>